## Decision Trees

The reason we used **decision trees** first was because they're _easy to read and undestand_. 
They can be _visualized_.

They're one of the few models that are interpretable. So we can understand exactly why a classifier makes a decision.

## Data to be worked on today: **IRIS DATASET**

The object of Iris dataset is to identify what type of flower one has based on a few measurements.

The dataset includes 3 different types of flowers and they're all species of Iris - Setosa, Versicolor and Virginica.

We are given 50 examples of each type so 150 examples in total.

There are 4 features used to describe each example - length and width of sepal and petal.

The first 4 columns gives the features and the last column gives the label which is the type of flower in each row.

In [3]:
from sklearn import datasets
iris = datasets.load_iris()
import pandas as pd
X = pd.DataFrame(iris.data, columns = iris.feature_names)
Y = pd.DataFrame(iris.target, columns = ['Flower Type'])

E:\Anaconda\lib\importlib\_bootstrap.py:219: RuntimeWarning: numpy.ufunc size changed, may indicate binary incompatibility. Expected 192 from C header, got 216 from PyObject
  return f(*args, **kwds)

In [4]:
df = X
df['output'] = Y
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),output
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [5]:
df.all()

sepal length (cm)     True
sepal width (cm)      True
petal length (cm)     True
petal width (cm)      True
output               False
dtype: bool

### Our Goals

1. Import dataset.
2. Train the classifier.
3. Predict the labels of new data.
4. Visualize the tree.

In [47]:
# First we split the data into training and testing data.
from sklearn import model_selection
training_data, testing_data = model_selection.train_test_split(df)
testing_data

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),output
74,6.4,2.9,4.3,1.3,1
57,4.9,2.4,3.3,1.0,1
38,4.4,3.0,1.3,0.2,0
78,6.0,2.9,4.5,1.5,1
96,5.7,2.9,4.2,1.3,1
86,6.7,3.1,4.7,1.5,1
52,6.9,3.1,4.9,1.5,1
85,6.0,3.4,4.5,1.6,1
122,7.7,2.8,6.7,2.0,2
95,5.7,3.0,4.2,1.2,1
55,5.7,2.8,4.5,1.3,1
53,5.5,2.3,4.0,1.3,1
24,4.8,3.4,1.9,0.2,0
128,6.4,2.8,5.6,2.1,2
51,6.4,3.2,4.5,1.5,1
32,5.2,4.1,1.5,0.1,0
145,6.7,3.0,5.2,2.3,2
10,5.4,3.7,1.5,0.2,0
67,5.8,2.7,4.1,1.0,1
61,5.9,3.0,4.2,1.5,1
35,5.0,3.2,1.2,0.2,0
94,5.6,2.7,4.2,1.3,1
82,5.8,2.7,3.9,1.2,1
5,5.4,3.9,1.7,0.4,0
56,6.3,3.3,4.7,1.6,1
65,6.7,3.1,4.4,1.4,1
109,7.2,3.6,6.1,2.5,2
118,7.7,2.6,6.9,2.3,2
66,5.6,3.0,4.5,1.5,1
34,4.9,3.1,1.5,0.2,0
42,4.4,3.2,1.3,0.2,0
47,4.6,3.2,1.4,0.2,0
147,6.5,3.0,5.2,2.0,2
129,7.2,3.0,5.8,1.6,2
72,6.3,2.5,4.9,1.5,1
44,5.1,3.8,1.9,0.4,0
25,5.0,3.0,1.6,0.2,0
132,6.4,2.8,5.6,2.2,2

In [60]:
features = [col for col in training_data.columns if col!='output']

training_data[features]

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
116                6.5               3.0                5.5               1.8
62                 6.0               2.2                4.0               1.0
23                 5.1               3.3                1.7               0.5
84                 5.4               3.0                4.5               1.5
127                6.1               3.0                4.9               1.8
..                 ...               ...                ...               ...
1                  4.9               3.0                1.4               0.2
63                 6.1               2.9                4.7               1.4
126                6.2               2.8                4.8               1.8
114                5.8               2.8                5.1               2.4
41                 4.5               2.3                1.3               0.3

[112 rows x 4 columns]

In [62]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(training_data[features], training_data['output'])

for i in testing_data:
    print(clf.predict(testing_data[features]))

[1 1 0 1 1 1 1 1 2 1 1 1 0 2 1 0 2 0 1 1 0 1 1 0 1 1 2 2 1 0 0 0 2 1 1 0 0
 2]
[1 1 0 1 1 1 1 1 2 1 1 1 0 2 1 0 2 0 1 1 0 1 1 0 1 1 2 2 1 0 0 0 2 1 1 0 0
 2]
[1 1 0 1 1 1 1 1 2 1 1 1 0 2 1 0 2 0 1 1 0 1 1 0 1 1 2 2 1 0 0 0 2 1 1 0 0
 2]
[1 1 0 1 1 1 1 1 2 1 1 1 0 2 1 0 2 0 1 1 0 1 1 0 1 1 2 2 1 0 0 0 2 1 1 0 0
 2]
[1 1 0 1 1 1 1 1 2 1 1 1 0 2 1 0 2 0 1 1 0 1 1 0 1 1 2 2 1 0 0 0 2 1 1 0 0
 2]