## Decision Trees

The reason we used **decision trees** first was because they're _easy to read and undestand_. 
They can be _visualized_.

They're one of the few models that are interpretable. So we can understand exactly why a classifier makes a decision.

## Data to be worked on today: **IRIS DATASET**

The object of Iris dataset is to identify what type of flower one has based on a few measurements.

The dataset includes 3 different types of flowers and they're all species of Iris - Setosa, Versicolor and Virginica.

We are given 50 examples of each type so 150 examples in total.

There are 4 features used to describe each example - length and width of sepal and petal.

The first 4 columns gives the features and the last column gives the label which is the type of flower in each row.

In [40]:
from sklearn import datasets
iris = datasets.load_iris()
import pandas as pd
X = pd.DataFrame(iris.data, columns = iris.feature_names)
Y = pd.DataFrame(iris.target, columns = ['Flower Type'])

In [46]:
df = X
df['output'] = Y
df.describe()

,sepal length (cm),sepal width (cm),petal length (cm),petal width (cm),output
count,150.000000,150.000000,150.000000,150.000000,150.000000
mean,5.843333,3.057333,3.758000,1.199333,1.000000
std,0.828066,0.435866,1.765298,0.762238,0.819232
min,4.300000,2.000000,1.000000,0.100000,0.000000
25%,5.100000,2.800000,1.600000,0.300000,0.000000
50%,5.800000,3.000000,4.350000,1.300000,1.000000
75%,6.400000,3.300000,5.100000,1.800000,2.000000
max,7.900000,4.400000,6.900000,2.500000,2.000000

In [54]:
df.all()

sepal length (cm)     True
sepal width (cm)      True
petal length (cm)     True
petal width (cm)      True
output               False
dtype: bool